[build]
publish = "public"
command = "hugo"

[build.environment]
HUGO_VERSION = "0.82.0"

[context.production.environment]
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
command = "hugo --buildFuture -b $DEPLOY_PRIME_URL/"

[context.branch-deploy]
command = "hugo -b $DEPLOY_PRIME_URL/"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"

[[redirects]]
  from = "/krustlet/*"
  to = "https://krustlet-docs.netlify.app/:splat"
  status = 200
  force = true
  headers = { Access-Control-Allow-Origin = “*”, X-From = "Netlify" }
