{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
<footer class="footer">
  <div class="container">
    
    <div class="footer-logo">
      <div class="deislabs">
        <a href="https://github.com/deislabs/">
          <span>Deis Labs</span>
          <div class="shapes"><em class="dl-tr"></em><em class="dl-sq"></em><em class="dl-ci"></em></div>
        </a>
      </div>
      <p class="show-for-large-up">:  Open Source from Microsoft Azure.</p>&nbsp;
    </div>

    <nav class="footer-social level is-mobile">
      <div class="level-right">
        {{- range $socialMedia }}
        <a class="level-item" href="{{ .link }}">
          <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
        </a>
        {{- end }}
      </div>
    </nav>

  </div>
</footer>
