{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-10 is-offset-1 landing-caption">
        <img class="hero-text" src="images/hero-text-clip.svg">
        <img class="hero-shape hero-shape-1" src="images/deislabs-ci.svg">
        <img class="hero-shape hero-shape-2" src="images/deislabs-sq.svg">
        <img class="hero-shape hero-shape-3"src="images/deislabs-tr.svg">
      </div>
    </div>
  </div>
</div>
