{{ define "content" }}
<section class="section section-feature-grey is-medium blog blog-list">
  <div class="container">
    <div class="content-wrapper">

      <ul class="tags blog-menu inline">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li><a href="../tags/{{ $name | urlize}}">{{ $name }}</a></li>
        {{ end }}
      </ul>

      <ul class="blog-listing">
        {{ range .Pages }}
        <li>
          <h1 class="title section-title"><a href="{{.Permalink}}">{{ .Title }}</a></h1>
          <p class="post-meta">
            <time>By {{ .Params.authorname }} on {{ .Date.Format "January 02, 2006" }}</time>
          </p>

          {{ .Summary }}
          {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read More…</a>
          {{ end }}
        </li>
        {{ end }}
    </ul>
  </div>
</section>
{{ end }}
