{{ define "content" }}
<section class="section section-feature-grey is-medium blog blog-list">
  <div class="container">
    <div class="content-wrapper">

      <ul class="tags blog-menu inline">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li><a href="#{{ $name | urlize}}">{{ $name }}</a></li>
        {{ end }}
      </ul>


      <ul>
        {{ range .Pages }}
        <li>
          <a href="{{.Permalink}}">
            <h1 class="title section-title">{{ .Title }}</h1>
            <p class="post-meta">
              <time>{{ .Date.Format "January 02, 2006" }}</time>
            </p>
          </a>
        </li>
        {{ end }}
    </ul>
  </div>
</section>
{{ end }}
