{{ define "content"}}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper title-blog has-text-centered">
      <h1 class="title section-title">{{ .Title }}</h1>
      <div class="subtitle">
        <time>{{ .Date.Format "January 02, 2006" }}</time>
      </div>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper content-blog">
      {{ .Content }}
      <p class="author"><a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.authorname }}<br>
        <small>{{ .Params.author }}</a></small>
      </p>
      {{ partial "tags.html" . }}
    </div>
  </div>
</section>
{{ end }}
