{{ define "content"}}
<section class="section section-feature-grey is-medium blog blog-single">
  <div class="columns">
    <div class="column title-wrapper">
      <header>
        <h1 class="title section-title">{{ .Title }}</h1>
        <p class="post-meta">
          <span class="author">By <a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.authorname }}</a></span><br>
          <time>{{ .Date.Format "January 02, 2006" }}</time>
          {{ partial "tags.html" . }}
        </p>
      </header>
    </div>
    <div class="column content-wrapper content-blog">
      <article>
        {{ .Content }}
      </article>
    </div>
  </div>
</section>
{{ end }}
