/* This makes the pretty formatting when listing blog posts */
ul.dates li {
		position: relative;
		padding: 1.3em 0 1.3em 6.75em;
	}

	ul.dates .date {
		display: block;
		position: absolute;
		left: 0;
		top: 1.3em;
		background-color: #F39200;
		height: 3.5em;
		text-align: center;
		color: #fff;
		line-height: 1em;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 0.5em 0.75em 0 1em;
	}

		ul.dates .date:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: -1.2em;
			border-left: solid 1.25em #F39200;
			border-top: solid 1.8em transparent;
			border-bottom: solid 1.8em transparent;
		}

		ul.dates .date strong {
			display: block;
			font-size: 1.75em;
			padding-top: 0.15em;
		}

	ul.dates h3 {
		font-size: 1.1em;
    font-weight: bold;
	}

	ul.dates p {
		margin: 0;
	}

  ul.dates strong {
		color: #fff;
	}

	ul.dates li:first-child {
		border-top: 0;
		padding-top: 0;
	}

	ul.dates li:first-child .date {
		top: 0;
	}

	ul.divided li {
		border-top: solid 1px #ddd;
		padding: 1em 0 1em 0;
	}

	ul.divided li:first-child {
		border-top: 0;
		padding-top: 0;
}

/* This adds back styling for our regular post content that is getting lost by our default (homepage) styles */
.content-wrapper ul {
  margin-left: 3em;
  list-style-type: disc;
}
