/* This makes the pretty formatting when listing blog posts */
.content-wrapper ul.dates {
  list-style-type: none;
}

ul.dates li {
		position: relative;
		padding: 1.3em 0 1.3em 6.75em;
	}

	ul.dates .date {
		display: block;
		position: absolute;
		left: 0;
		top: 1.3em;
		background-color: #F39200;
		height: 3.5em;
		text-align: center;
		color: #fff;
		line-height: 1em;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 0.5em 0.75em 0 1em;
	}

		ul.dates .date:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: -1.2em;
			border-left: solid 1.25em #F39200;
			border-top: solid 1.8em transparent;
			border-bottom: solid 1.8em transparent;
		}

		ul.dates .date strong {
			display: block;
			font-size: 1.75em;
			padding-top: 0.15em;
		}

	ul.dates h3 {
		font-size: 1.1em;
    font-weight: bold;
	}

	ul.dates p {
		margin: 0;
	}

  ul.dates strong {
		color: #fff;
	}

	ul.dates li:first-child {
		border-top: 0;
		padding-top: 0;
	}

	ul.dates li:first-child .date {
		top: 0;
	}

	ul.divided li {
		border-top: solid 1px #ddd;
		padding: 1em 0 1em 0;
	}

	ul.divided li:first-child {
		border-top: 0;
		padding-top: 0;
}

/* This adds back styling for our regular post content that is getting lost by our default (homepage) styles */
.content-wrapper ul {

}
.content-wrapper li {
  margin: 0 1.5em;
}
.content-wrapper p {
  margin: 0 0 1.5em 0;
}

.content-wrapper ul{
  list-style-type: disc;
  margin: 0 1.5em 1.5em 1.5em;
}

.content-wrapper ol {
	list-style-type: decimal;
  margin: 0 1.5em 1.5em 1.5em;
}

/* This customizes our footer styling */
footer.footer-dark .footer-logo img {
  height: 80px; }

/* Tweak hero size so that I can be more wordy without funky line wrapping */
.hero .title {
  font-size: 2.7rem;
}

blockquote {
	font-size: 1.5rem;
	font-weight: bold;
	color: #444F60;
	text-align: center;
}

/* Add some space after code examples before normal text again */
.content-wrapper pre {
	margin-bottom: 2em;
}