/* ==========================================================================
Color variables
========================================================================== */

$blue: #00B3E8;
$red: #FF0056;
$green: #00BE40;

$charcoal: #4A4A4A;
$cream: #F6FDF7;

$white: #fff;
$smoke-white: $cream;
$grey-white: $cream;

$primary: $blue;
$secondary: $green;
$accent: $red;

$fade-grey: $cream;
$light-grey: darken($cream, 7.5%);
$title-grey: darken($cream, 15%);
$blue-grey: lighten($charcoal, 5%);
$muted-grey: lighten($charcoal, 33.33%);
$light-blue-grey: lighten($charcoal, 33.33%);
$medium-grey: lighten($charcoal, 12.5%);
$basaltic-grey: darken($cream, 25%);
$purple: $blue;
$mint: $green;
$bloody: $red;
$pinky: $red;
$frost: $blue;
$placeholder: darken($cream, 12.5%);
$dark-grey: $charcoal;
$border-grey: darken($cream, 12.5%);
$muted-grey: darken($cream, 7.5%);
$section-grey: $cream;