/* ==========================================================================
Responsive Styles
========================================================================== */

@media (max-width: 767px) {

    .landing-caption {
        text-align: center;
    }
    .navbar-menu {
        .is-static {
            position: absolute;
            width: 100%;
        }
        .is-fixed {
            position: fixed;
            width: 100%;
        }
        .navbar-item {
            text-align: center !important;
            .signup-button {
                width: 100% !important;
            }
        }
        .navbar-link {
            padding: 10px 20px !important;
        }
    }
    .title.section-title {
        font-size: 2rem !important;
    }
    .level-left.level-social {
        display: flex;
        justify-content: flex-start;
    }
    .pushed-image {
        margin-top: 0 !important;
    }
    .testimonial {
        margin: 0 auto;
    }

    .hero .landing-caption .hero-shape {
        display: none !important;
    }
}

@media only screen and (max-width : 1024px) {

    body {
        font-size: 17px !important;
    }

    .navbar-brand a.navbar-item {
        margin-left: 7.5vw !important;
    }

    .navbar.is-fresh .navbar-brand img {
        max-width: 30vw;
    }
    
    .hero {
        min-height: 480px !important;

        .hero-shape {
            display: none !important;
        }

        .is-hidden-tablet {
            img.hero-text {
                width: 70%;
                margin-left: 3.75rem;
                max-width: 320px;
            }
        }
    }

    .deislabs .shapes {
        position: relative !important;
        bottom: 0.35rem !important;

        &.bottom {
            bottom: 0.35rem !important;
        }
    }

    .title-wrapper {
        width: 78vw !important;

        .subtitle {
            time {
                font-size: 0.825rem !important;
                opacity: 0.7;
            }
        }
    }

    .content-blog,
    .content-single {
        width: 78vw !important;
    }

    .title-blog h1.title {
        font-size: 1.825rem !important;
        line-height: 1.35;
        margin-bottom: 2rem !important;
    }
    
    .content-wrapper {

        h1 {
            font-size: 1.6rem !important;
        }

        h2 {
            font-size: 1.333rem !important;
        }

        h3, h4 {
            font-size: 1rem !important;
        }

        ul, ol, p, li, blockquote, blockquote p {
            font-size: 1rem !important;
        }

        code, pre, code pre {
            font-size: 0.875rem !important;
            line-height: 1.5;
        }

        p {
            text-align: justify;
        }
    }

    .footer {
        min-height: 5.5rem;

    }

    .footer-logo p {
        display: none !important;
    }
} 


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .landing-caption {
        text-align: center;
    }
    .navbar-menu {
        .is-static {
            position: absolute;
            width: 100%;
        }
        .is-fixed {
            position: fixed;
            width: 100%;
        }
        .navbar-item {
            text-align: center !important;
            .signup-button {
                width: 100% !important;
            }
        }
        .navbar-link {
            padding: 10px 20px !important;
        }
    }
    .pushed-image {
        margin-top: 0 !important;
    }
    .testimonial {
        margin: 0 auto;
    }
    .is-centered-tablet-portrait {
        text-align: center !important;
        .divider {
            margin: 0 auto !important;
        }
    }
}